body {
  margin: 0;
  padding: 0;
}


.page {
  background-color: aqua;
  width: 100%;
  position: relative;
  height: 100vh;
}

.page_header {
  /* background-color: coral; */
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.page_body {
  /* background-color: chartreuse; */
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.page_button {
  background-color: blueviolet;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 25px;
  border-radius: 10px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}